body {
	background: #58595B;
	font-family: sans-serif;
}

canvas {
	background: #fff;
	display: block;
	margin: 50px auto 10px;
}

canvas, button, .selected {
	box-shadow: 0 4px 0 0 #222;
}

canvas, 
.controls, 
ul li, 
#revealColorSelect, 
#eraseCanvas,
#colorSelect,
#newColor {
	border-radius: 5px;
}

.controls {
	min-height: 60px;
	margin: 0 auto;
	width: 600px;
	overflow: hidden;
}

ul {
	list-style:none;
	margin: 0;
	float: 	left;
	padding: 10px 0 20px;
	width: 100%;
	text-align: center;
}

ul li {
	display:block;
	height: 50px;
	width: 50px;
	cursor: pointer;
	border: 5px solid;
	display: inline-block;
	margin: 0 15px 10px;
}

.red {
	border-color: #fc4c4f;
}

.blue {
	border-color: #4fa3fc;
}

.yellow {
	border-color: #ECD13F;
}

.selected {
	width: 50px;
	height: 50px;
}

.main_buttons {
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

button {
	display: inline-block;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 40px;
}

#revealColorSelect, #eraseCanvas {
	margin: 10px;
	padding: 5px;
	width: 160px;
}



/*************************************
New Color Palette
*************************************/

#colorSelect {
	border: 1px solid #fff;
	clear: both;
	margin: 20px 0 15px 45px;
	padding: 10px;
	width: 305px;
	position: relative;
	display:none;
	box-shadow: 0 4px 0 0 #222;
}

#colorSelect:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

#newColor {
	width: 80px;
	height: 80px;
	border: 1px solid #fff;
	float: left;
	margin: 10px 20px 20px 10px;

}

.sliders p {
	margin: 8px 0;
	vertical-align: middle;
}

.sliders label {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 35px;
	font-size: 14px;
	color: #fff;
}

.sliders input {
	position: relative;
	top: 2px;
}

#colorSelect button {
	border: none;
	border-top: 1px solid #fff;
	box-shadow: none;
	clear: both;
	margin: 10px -10px -7px;
	padding: 5px 10px;
	width: 325px;
}



/*************************************
MEDIA QUERIES
*************************************/

@media (max-width: 668px) {
	canvas {
		width: 400px;
		height: 300px;
	}

	.controls {
		width: 400px;
	}

	#colorSelect {
		margin: 20px auto 0;
	}
}